[CREATEDATABASE]
GDBNAME = "{{ db_name }}"
SID = "{{ db_sid }}"
TEMPLATENAME = "General_Purpose.dbc"
CHARACTERSET = "{{ db_character_set }}"
TOTALMEMORY = "2048"
CREATEASCONTAINERDATABASE = "true"
NUMBEROFPDBS = "1"
PDBNAME = "{{ pdb_name }}"
PDBADMINPASSWORD = "{{ db_password }}"
DATABASETYPE = "MULTIPURPOSE"
AUTOMATICMEMORYMANAGEMENT = "false"
LISTENERS = "{{ listener_name }}"
DATAFILEDESTINATION = "{{ oracle_base }}/oradata"
SYSPASSWORD = "{{ db_password }}"
SYSTEMPASSWORD = "{{ db_password }}"
EMCONFIGURATION = "NONE"
