[GENERAL]
RESPONSEFILE_VERSION="19.0"
CREATE_TYPE="CUSTOM"

[OracleNetConfiguration]
INSTALL_TYPE=""typical""

LISTENER_NUMBER=1
LISTENER_NAMES={{ listener_name }}
LISTENER_PROTOCOLS=TCP
LISTENER_PORTS={{ listener_port }}
